In [106]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

data = pd.read_csv('./src/movie_bd_v5.xls')


answers = {}

def get_list(items, sep='|'):
    target = []
    for item in items:
        split_item = item.split(sep)
        for i in split_item:
            if not i in target:
                target.append(i)
    return target

actors = get_list(data.cast.values)
genres = get_list(data.genres.values)

data[(data.revenue - data.budget) == max(data.revenue - data.budget)]
answers['6'] = 'Avatar +'

data[(data.revenue - data.budget) == min(data.revenue - data.budget)]
answers['7'] = 'The Lone Ranger	 +'

len(data.query('revenue > budget'))
answers['8'] = '1478 +'

data[(data.release_year == 2008)].sort_values('revenue', ascending=False)
answers['9'] = 'The Dark Knight	 +'

sm_data = data.query('release_year >= 2012 and release_year <= 2014')
sm_data[(data.revenue - data.budget) == min(data.revenue - data.budget)]
answers['10'] = 'The Lone Ranger	 +'

####### 11-17

pd.value_counts(data.genres)
answers['11'] = 'Comedy +'

sm_data = data[(data.revenue - data.budget) > 0]
pd.value_counts(sm_data.genres)
answers['12'] = 'Comedy +'

pivot = data.pivot_table(values='revenue', index='director', aggfunc="sum")
pivot[pivot.values == max(pivot.values)]
answers['13'] = 'Peter Jackson	 +'

group = data[data.genres.str.contains('Action')].groupby(['director'])[['genres']].count().sort_values('genres', ascending=False)
answers['14'] = 'Ridley Scott +'

data.query('release_year == 2012').sort_values('revenue',  ascending=False).head(1).cast.values
answers['15'] = 'Chris Hemsworth +'


data[data.cast.str.contains('Nicolas Cage')].groupby(['genres'])[['imdb_id']].max()

                                                  imdb_id
genres
Action|Adventure|Drama|Mystery|Science Fiction  tt0448011
Action|Adventure|Mystery|Thriller               tt0465234
Action|Crime                                    tt1250777
Action|Crime|Drama|Thriller                     tt1656186
Action|Crime|Thriller                           tt0814022
Action|Drama|Thriller                           tt1214962
Action|Fantasy|Thriller                         tt1071875
Action|Science Fiction|Thriller                 tt0435705
Adventure|Action|Thriller|Mystery               tt0368891
Adventure|Animation|Comedy|Family|Fantasy       tt0481499
Adventure|Fantasy|Action                        tt0479997
Animation|Action|Family|Science Fiction         tt0375568
Comedy|Crime|Drama                              tt0268126
Comedy|Drama                                    tt0384680
Comedy|Drama|Romance|Fantasy                    tt0218967
Crime|Drama|Thriller                            tt1674784
Drama|Action|History|War                        tt0245562
Drama|Crime                                     tt1095217
Drama|History|Thriller                          tt0469641
Fantasy|Adventure|Action|Comedy|Drama           tt0963966
Fantasy|Adventure|Animation|Comedy|Family       tt0429589
Fantasy|Thriller|Action|Crime                   tt1502404
Thriller|Action|Fantasy|Horror                  tt0259324
Thriller|Action|Science Fiction                 tt2467046
Thriller|Crime                                  tt2005374